:root {
    --background: #fafafa;
    --green: #42ffb0;
    --purple: #4527a0;
    --lightpurple: #8a63ff;
}

* {
    margin: 0%;
    padding: 0%;
}


.fullscreen {
    width: 100vw;
    margin: 0;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    
    background-color: var(--background);
}

/* header {
    display: inline-block;
    background-color: white;
    padding: 25px;
    justify-content: center;
} */


header {
    display: flex;
    width: calc(100% - 40px);
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
}

header h1 {
    height: 30px;
    transform: translateY(-3px);
}

header h1 * {
    margin: auto 0 ;
}

header h1 img {
    height: 30px;
    transform: translateY(2px);
    padding-right: 5px;
}

header h1 img:hover {
    fill: var(--green);
    
}

a:not(#actualpage) {
    color: inherit;
    text-decoration: none;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transform: translateY(2px);
}

header ul li {
    display: inline;
    padding: 0 .6em;
    font-size: 1.25em;
}


#actualpage a{
    font-weight: bold;
    position: relative;
    
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 30px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

header ul li:hover {
    text-decoration: underline;
}





/* CLASSES */


nav * {
    height: 27px;
    width: auto;
}

nav .navsvg {
    color: #000;
}


nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.fullscreen {
    width: 100vw;
    height: auto;
}    

.fitsall {
    width: 1280px;
    height: auto;
}    

.transformleft {
    transform: translateX(-640px);
}    

/* .transformright {
    transform: translateX(640px);
} */

.homeimgandtext {
    display: flex;
}

.textthing {
    display: block;
    min-width: 580px;
    margin: auto auto auto 0;
    padding: 0 30px 0 30px;
}

.textthing h2 {
    font-size: 2rem;
}

.textthing p {
    font-size: 1.25rem;
}



.textthing.imageonleft {
    transform: translateX(-640px);
}

.textthing.imageonright {
    text-align: end;
}

/* Para viewport maior que 1280px */
@media (min-width: 1281px) {
    .fullscreen {
        transform: translateX(calc(((100vw - 1280px) / 2) * -1));
    }    
}    

@media (max-width: 840px) { /* saas */
    #otherpages {
        display: none;
    }    
}    

@media (max-width: 480px) { /* saas */
    #kwwala {
        display: none;
    }    
}    


/* 
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
} */

.container {
    background-image: url('img/backgroundsplash.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 720px;
    width: 100%;
    display: flex;
}

.formcontainer {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 640px;
    margin: auto;
}

.formcontainer form {
    display: inline-block;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 618px;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.name-container {
    display: flex;
    gap: 16px;
}

.name-container input {
    width: 290px;
}

.formcontainer h2 {
    margin: 0%;
    padding-bottom: 20px;
}

button {
    background: var(--lightpurple);
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: var(--purple);
}


main